[submodule "Shadow/vendor/spdlog"]
	path = Shadow/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Shadow/vendor/GLFW"]
	path = Shadow/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
